# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# Application Configuration
NEXT_PUBLIC_BASE_URL=your_production_url

# Wompi Configuration (Payment Gateway)
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=your_wompi_public_key
WOMPI_PRIVATE_KEY=your_wompi_private_key
WOMPI_MERCHANT_ID=your_wompi_merchant_id
NEXT_PUBLIC_WOMPI_MERCHANT_ID=your_wompi_integrity_id
WOMPI_ENVIRONMENT=development # Change to 'production' for live environment
WOMPI_INTEGRITY_SECRET=your_wompi_integrity_secret
